{
        Mapped = {
                Cocoa = "`gnustep-config --gui-libs`";
                Foundation = "`gnustep-config --base-libs`";
                AppKit = "`gnustep-config --gui-libs`";
                CoreFoundation = "-lcorebase";
                CoreGraphics = "-lopal";
                Carbon = "-lboron";
                OpenGL = "-lGL -lGLU";
                libobjc.A = "-lobjc";
        };
        Ignored = ("IOKit", "Quartz", "QuartzCore",
                   "QuickTime", "ApplicationServices",
                   "SystemConfiguration", "Security");
}